@import url(../../styles/Colors.css);

.Calculator {
    background-color: var(--White);
    width: 920px;
    height: 480px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}